<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="cn" connectionString="Data Source=DESKTOP-B2S14AI;Initial Catalog=SECRET_SERVICES;Integrated Security=True;"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <!--
  <appSettings>
    <add key="ParentTableName" value="Agency"/>
    <add key="ChildTableName" value="Spy"/>
    <add key="ChildNumberOfColumns" value="3"/>
    <add key="ChildLabelNames" value="real_name,code_name,AgencyID"/>
    <add key="ChildTextBoxContent" value="Emilia,Profa,1600"/>
    <add key="ColumnNamesInsertParameters" value="@real_name,@code_name,@AgencyID"/>
    <add key="UpdateQuery" value="update Spy set real_name=@real_name,code_name=@code_name,AgencyID=@AgencyID where ID=@id"/>
    <add key="SelectQuery" value="select * from Spy"/>
    <add key="SelectParent" value="select * from Agency"/>
    <add key="SelectChild" value="select * from Spy where AgencyID=@id"/>
    <add key="DeleteChild" value="delete from Spy where ID=@id"/>
  </appSettings>
  -->
  
 
  <appSettings>
    <add key="ParentTableName" value="Agency"/>
    <add key="ChildTableName" value="Cover_Specialist"/>
    <add key="ChildNumberOfColumns" value="2"/>
    <add key="ChildLabelNames" value="name,AgencyID"/>
    <add key="ChildTextBoxContent" value="Fanica,1600"/>
    <add key="ColumnNamesInsertParameters" value="@name,@AgencyID"/>
    <add key="UpdateQuery" value="update Cover_Specialist set name=@name, AgencyID=@AgencyID where ID=@id"/>
    <add key="SelectQuery" value="select * from Cover_Specialist"/>
    <add key="SelectParent" value="select * from Agency"/>
    <add key="SelectChild" value="select * from Cover_Specialist where AgencyID=@id"/>
    <add key="DeleteChild" value="delete from Cover_Specialist where ID=@id"/>
  </appSettings>
 
</configuration>