<h2>Rental stuff</h2>
<div>
  <label>First Name:</label>
  <input #firstName>
</div>
<div>
  <button (click)="goBack()">Back</button>
  <button (click)="loadMovies(firstName.value)">Next</button>
</div>

<div *ngIf="showMovies">
  <div>
    <h3>Selected movies (click to remove):</h3>
    <ol>
      <li *ngFor="let movie of selectedMovies"
          (click)="removeSelectedMovie(movie)">
        {{movie.title}}
      </li>
    </ol>
  </div>
</div>

<div *ngIf="showMovies">
  <div>
    <h3>Available movies (click to select):</h3>
    <ol>
      <li *ngFor="let movie of availableMovies"
          (click)="selectMovie(movie)">
        {{movie.title}}
      </li>
    </ol>
  </div>
</div>

<div *ngIf="showMovies">
  <button (click)="goBack()">Back</button>
  <button (click)="save()">Save</button>
</div>
